*{
  margin: 0;
 }

 html,body{
     height: 100%;
 }
 
 body{
     font-family: sans-serif,Arial,Helvetica;
     background-color: #999;
 }
  p{
      margin: 0.5em 0 0.5em 0 ;
  }

  header{
      display:block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #a493c0;
      padding: 10px ;
  }

  nav a:visited,
  nav a:link{
      color: aliceblue;
      text-decoration: none;
  }

  nav> ul{
      display: inline;
      padding: 0;
  }
  nav >ul >li{
      display: inline-block;
      list-style: none;
      /* list is used for sementic markup is interperets list of link inside the a nav bar */
      margin: 0px 5px 0px 5px;
  }
  main{
      display: block;
      background-image: url("images/background.png");
      padding-top: 3em;
      padding-bottom: 2em;
      min-height: 85%;
  }
  footer{
      padding: 15px;

  }

  aside,article{
      padding: 2em;
}  

aside{
    text-align: center;


}
article{


    width: 75%;
}

.columns{
    display: flex;
}

@media only screen and (min-width:768px) {
main{
    display: flex;

    
    

}
aside{
    text-align: left;
}

.columns-desktop{
    display: flex;
}
    
}

/* Pies */

.pie
{
    width: 200px;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border: solid 1px #ccc;

}
.pie img{
    width: 100%;

}
.pie .columns{
    width: 100%;

}

.pie .price{
    font-weight: bold;
}

.pie .columns div {
    width: 50%;

}

.pie .columns{
    text-align: right;
}

.pie button{
    background-color: #f6aeae;
    padding: 10px;
    border: solid 1px;
    border-radius: 4px;
    color: aliceblue;

}